{% extends 'adminpanel/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card shadow-lg border-0 rounded-lg mt-2 w-75">
    <div class="card-body">
	<div class="content-section">
		<form method='POST' enctype="multipart/form-data">
		{%csrf_token%}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Créer un Nouvelle blog article</legend>
			{{ form|crispy }}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-outline-success btn-block w-25" type="submit">Créer</button>
		</div>
		</form>
	</div>
</div>
</div>
{% endblock %}