{%extends 'adminpanel/base.html'%}
{%block content%}

		<div class="row ">
		<div class="col-sm p-1 m-2">
		    <div class="card border-secondary mb-4">
		<figure>
		<canvas id="pie-chart"></canvas>
		<figcaption style="text-align: center">Etudients / niveau</figcaption>
		</figure>
		</div>
		</div>
		<div class="col-sm p-1 m-2">
		    <div class="card border-secondary mb-4">
		<figure>
		<canvas id="bar-chart"></canvas>
		<figcaption style="text-align: center">inscriptions / Mois</figcaption>
		</figure>
		</div>
		</div>		
		</div>
		<div class="row ">
		<div class="col-sm p-1 m-2">
		    <div class="card border-secondary mb-4">
		<figure>
		<canvas id="bar-chart2"></canvas>
		<figcaption style="text-align: center">Paiments / Mois [DZD]</figcaption>
		</figure>
		</div>
		</div>
		</div>
		<div class="row ">
		<div class="col-sm p-1 m-2">
		    <div class="card border-secondary mb-4">
		<figure>
		<canvas id="bar-chart3"></canvas>
		<figcaption style="text-align: center">Paiments / jours [DZD]</figcaption>
		</figure>
		</div>
		</div>
		</div>


	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
	<script>
		var config = {
			      type: 'doughnut',
			      data: {
			      datasets: [{
			      data: {{ data|safe }},
			      backgroundColor: ['#ff5733', '#3336ff', '#46ff33', '#ff33c1', '#DAF7A6'],
			      label: 'Population'}],
			      labels: {{ labels|safe }}
				},
			      options: {responsive: true}
			    }
		var config2 = {
			      type: 'bar',
			      data: {
			      datasets: [{
			      data: {{ data2|safe }},
			      backgroundColor: '#3336ff',
			      label: 'Inscriptions'}],
			      labels: {{ months|safe }}
				},
			      options: {responsive: true}
			    };
		var config3 = {
			      type: 'bar',
			      data: {
			      datasets: [{
			      data: {{ data3|safe }},
			      backgroundColor: '#333434',
			      label: '[DZD]'}],
			      labels: {{ months|safe }}
				},
			      options: {responsive: true}
			    };
		var config4 = {
			      type: 'bar',
			      data: {
			      datasets: [{
			      data: {{ data4|safe }},
			      backgroundColor: '#333434',
			      label: '[DZD]'}],
			      labels: {{ days|safe }}
				},
			      options: {responsive: true}
			    };
    window.onload = function() {
	          var ctx = document.getElementById('pie-chart').getContext('2d');
	          window.myPie = new Chart(ctx, config);
	          var ctx2 = document.getElementById('bar-chart').getContext('2d');
	          window.myBar = new Chart(ctx2, config2);
	          var ctx3 = document.getElementById('bar-chart2').getContext('2d');
	          window.myBar2 = new Chart(ctx3, config3);
	          var ctx4 = document.getElementById('bar-chart3').getContext('2d');
	          window.myBar3 = new Chart(ctx4, config4);
	        };
	</script>

{%endblock%}
