{% extends 'adminpanel/base.html' %}
{% block content %}
	
	<div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                DataTable Example <a href="{% url 'new-salle' %}" class="btn btn-outline-success p-0 px-2 m-0 mr-2">Créer un nouveau</a>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-sm" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Nom</th>
                                                <th>Capacite</th>
                                                <th>Edit</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Nom</th>
                                                <th>Capacite</th>
                                                <th>Edit</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
					{% for  tch in Salle %}
                                        <tr role="row" class="odd">
                                                <td>{{tch.name}}</td>
                                                <td>{{tch.capacity}}</td>
						{% if user.is_authenticated %}
						<td><a href="{% url 'delete-salle' tch.id %}" class="max-auto btn btn-outline-danger p-0 px-2">Supp</a></td>
						{% endif %}
                                            </tr>
					{%endfor%}
                                            </tbody>
                                    </table>
{% endblock %}
